.bg-powerchain-black-nav {
    background-color: #051A2D;
}
.bg-powerchain-black {
    background-color: #2E3748;
}

.bg-powerchain-background {
    background-color: #F7F8FC;
}
.font-powerchain {
    font-family: 'Montserrat', sans-serif;
}
.text-active {
    color: #cc9900
}
.text-inactive {
    color: #9c9c9c;
}
.border-off {
    border-color: #DBDDE2;
}
.bg-disabled {
    background-color: #DBDDE2;
}
.border-active {
    border-color: #cf9f38;
}
.border-gray {
    border-color: #9698a0;
}
.bg-gray {
    background-color: #B3B5BD;
}
.bg-active {
    background-color: #f8c43f;
}
.bg-active-tile {
    background-color: #EDFFF8;
}
.text-powerchain-gray {
    color: #696969;
}
.text-secondary {
    color: #e2e5e8;
}
.bg-secondary {
    background-color: #cb973b;
}
.hover\:text-secondary:hover {
    color: #b68736;
}
.text-sidebar-active {
    color: #d5a13c;
}
.rounded-md {
    border-radius: 6px;
}
